<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 <pluginGroups>
         <pluginGroup>com.atlassian.maven.plugins</pluginGroup>
  </pluginGroups>
<interactiveMode>false</interactiveMode>
 <mirrors>
   <mirror>
                  <!--This sends everything else to /public -->
                  <id>Pearson-Nexus-Dependencies</id>
                  <mirrorOf>*,!confluent</mirrorOf>
                  <url>https://devops-tools.pearson.com/nexus-deps/content/groups/all-deps</url>
          </mirror>
 </mirrors>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>Pearson-Nexus-Dependencies</id>
                    <url>https://devops-tools.pearson.com/nexus-deps/content/groups/all-deps</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>Pearson-Nexus-Releases</id>
                    <url>https://devops-tools.pearson.com/nexus-master/content/repositories/releases</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>Pearson-Nexus-Dependencies</id>
                    <url>https://devops-tools.pearson.com/nexus-deps/content/groups/all-deps</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
           <id>Sonar</id>
                <properties>
                    <sonar.jdbc.url>jdbc-connection-string</sonar.jdbc.url>
                    <sonar.jdbc.driverClassName>jdbc.Driver</sonar.jdbc.driverClassName>
                    <sonar.jdbc.username>username</sonar.jdbc.username>
                    <sonar.jdbc.password>xxx</sonar.jdbc.password>
                    <sonar.host.url>hosturl</sonar.host.url>
                    <sonar.login>login</sonar.login>
                    <sonar.password>password</sonar.password>
                </properties>
        </profile>
    </profiles>
    <servers>
    <server>
            <id>Pearson-Nexus-Dependencies</id>
            <username>username</username>
            <password>xxxx</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
    <server>
            <id>Pearson-Nexus-Releases</id>
            <username>username</username>
            <password>xxxx</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
    <server>
            <id>Pearson-Nexus-Snapshots</id>
            <username>username</username>
            <password>xxxx</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
    <server>
            <id>Pearson-Nexus-Site</id>
            <username>username</username>
            <password>xxxx</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>default</activeProfile>
        <activeProfile>Sonar</activeProfile>
    </activeProfiles>
</settings>
